/*
CONTENTS:
1) loader, 2) animation, 3) alert, 4) body, 5) flexbox, 6) text, 7) fontawesome
*/

/* loader */

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* animation */

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from { bottom:-100px; opacity:0 } 
  to { bottom:0; opacity:1 }
}

#main-div {
  display: none;
  text-align: center;
}

/* alert */

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* body */

body {
  background-color: #90EE90;
  color: black;
  font-family: Geneva, Verdana, sans-serif;
  text-align: center;
}

.intro {
  margin-left: 10%;
  margin-right: 10%;
}

section {
  margin-bottom: 0.75rem;
}

.button {
  color: white;
  background-color: #04AA6D;
  font-family: Segoe UI;
  border: none;
  border-radius: 30px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.button:hover {
  transform: translateY(-5px);
}

/* flexbox */

@media (max-width: 768px) { .column { flex: 1 1 100%; } } /* for device widths below 768 px */

.row { /* flex-container */
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding: 8px;
  gap: 2rem;
}

.column { /* flex-item */
  flex: 0 0 30%; /* flex-grow, flex-shrink, flex-basis */
  min-width: 300px;
  max-width: 1fr;
  float: left;
  border-style: solid;
  border-radius: 69px;
  border-color: #90EE90;
  transition: 0.3s ease-in-out;
}
#experience .column { flex-basis: 32.5%; }
#education .column { flex-basis: 25%; }

.column:hover {
  border-style: solid;
  border-color: black;
  transform: translateY(-5px);
}

.item { padding: 10px 20px 20px; } /* top, sides, left */

/* text */

a, a:hover { text-decoration: none; }
.intro a, .intro a:hover { text-decoration: underline; }

h1 {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  font-size: 32px;
}

h2 {
  color: #075AAB;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 28px;
}

h3 {
  margin-top: 1.0rem;
  margin-bottom: 0.5rem;
}

h4 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

h5 {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

p {
  margin: 0.2rem 0;
}

.bullets {
  text-align: justify;
  margin-bottom: 10px;
}
#experience .bullets { text-align: left; }

/* images */

.icon {
  margin-top: 1.5rem;
  margin-bottom: 0;
  height: 75px;
  width: 75px;
}

.logo {
  margin-top: 1.0rem;
  margin-bottom: 0;
  height: 60px;
  width: 60px;
}

/* fontawesome */

.social-links {
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-content: center;
}

@media (max-width: 4in) and (min-resolution: 300dpi) {
   .social-links > .fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
}
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
}

.social-links > .fa:hover {
  margin-left: 15px;
  margin-right: 15px;
  transform: scale(1.05);
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-envelope {
  background: #85b5ff;
  color: white;
}

.fa-trophy, .fa-trophy:hover {
  font-size: 16px;
  margin: 0.2rem 0; /* vertical, horizontal */
  padding: 0;
}
